<!-- header.html (ch08www project) -->
    <nav class='navbar navbar-default'>
        <div class='container-fluid'>
            <div class='navbar-header'>
                <div class='navbar-brand' align=center>
                    DJ中古機賣場
                </div>
            </div>
            <ul class='nav navbar-nav'>
                <li class='active'><a href='/'>Home</a></li>
                <li><a href='/admin'>Manager</a></li>  
                <li><a href='/list'>List</a></li>
                <li><a href='/post'>Posts</a></li>
            </ul>
        </div>
    </nav>