{% extends "base.html" %}
{% block title %}我有話要說{% endblock %}
{% block content %}

<div class='container'>
    <div class='row'>
        <div class='col-md-12'>
            <div class='panel panel-default'>
                <div class='panel-heading' align=center>
                    <h3>~~寶寶心裡苦，寶寶只在這裡說~~</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        {% for p in posts %}
        <div class="col-sm-12 col-md-6">
            <div class='panel {%cycle"panel-primary" "panel-info" "panel-warning" "panel_success" %}'>
                <div class="panel-heading">
                    <table>
                        <tr>
                            <td>
                                [{{p.nickname}}] words {{p.mood}}
                            </td>
                            <td align=rigth>
                                <i><small>{{p.pub_time}}</small></i>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class='panel-body'>{{ p.message | linebreaks}}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}