<!-- post2db.html (ch08www project) -->
{% extends "base.html" %}
{% block title %}我有話要說{% endblock %}
{% block content %}
<div class="container">
    {% if message %}
    <div class="alert alert-warning">{{ message }}</div>
    {% endif %}

    <form name='my form' action=',' method='POST'>
        {% csrf_token %}
        <table>
            {{ post_form.as_table }}
        </table>
        <input type="submit" value="chine word">
        <input type="reset" value="second chine word">
    </form>
</div>
{% endblock %}






{% comment %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataBase</title>
</head>

<body>
    <h1>databese here</h1>
</body>

</html>
{% extends "footer.html" %} {% endcomment %}